<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title>notes app</title>
        
    </head>
    <body>
        <a href="/list" class="list" data-text="[Your_List]">[Your_List]</a>
    <h1>this is an index page</h1>
    
    </body>
</html>