
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"type="text/css" href="/css/style.css">
        <title>list</title>
          </head>
    <body>
        
        <h1>your list is :</h1>
        <div class="form">
            <ul>
                <li class="title"><h2>title:{{title }}</h2></li>
               <li class="book"> <h2>book:{{book}}</h2></li>
            </ul>
            
          </div>
        
    </body>
</html>